---
---

@import "{{ site.theme }}";

.moment-wrapper {
	padding:0;
}


.moment-preview {
	display:inline-block;
	width:25%;

	img {
		width:100%;
	}
}

.moment {
	audio {
		width:100%;
	}
}

.footer {
	position:fixed;
	bottom:0;
	text-align:center;
	width:100%;
}